.full{
    min-width:100%;
}
a.text{
    position: relative;
    right: 2%;
    color: #fff;
    top: -40px;
    font-size: 1rem;
}
a.main{
    margin-top: 10px;
}
.inf{
    background-color: #eaeaea;
    padding: 2%;
    line-height: 200px;
}
.button.main{
    position: relative;
    vertical-align: top;
    width: 100px;
    min-width: 100px;
    height: 30px;
    font-size: 0.8rem;
    top: -43px;
    right: 2%;
    background-color:#269489;
}
.button.top{
    background-color: #228379;
    top: -54px;
}
.button.role{
    height: 80px;
    background-color: #31c0b2;
    width: 100%;
    padding: 30px;
}
.button.adm{
    position: relative;
    vertical-align: top;
    min-width: 100px;
    height: 30px;
    font-size: 0.8rem;
    top: 0px;
    right: 2%;
    background-color:#269489;
    padding-top: 8px;
}
input.adm{
    margin-top: 0;
    margin-bottom: 0;
}
.inf.adm{
    height: 65px;
}
.in{
    margin: 6px 0px 15px;
    width: 100%;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.2);
}
.regi{
    background-color: #eaeaea;
    padding: 6px 6% 15px;
    width: 100%;
}
.shade{
    box-shadow: 0px 2px 2px rgba(0,0,0,0.3); /* Параметры тени */
}
.shade-in{
    box-shadow: inset 0px 2px 3px rgba(0,0,0,0.3);
}
.login{
    position: inherit;
    vertical-align: top;
    width: 40%;
    min-width: 120px;
    height: 30px;
    font-size: 0.7rem;
}
#lumen{
    width: 100px;
    height: auto;   
    filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.5));
}
.grid-container {
    position: relative;
    top: 0;
}
.reg{
    font-size: 0.7rem;
    font-weight: 600;
}
.title{
    height: 40px;
    background:31c0b2;
}
.bottom{
    background-color:#d8d8d8;
    height:80px;
}
.log-in-form {
    z-index: 9100;
 }
 ul.menu.align-center {
    width: 100%;
}   
li.menu-input {
    width: 80%;
}
.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    min-width: 300px;
    height: auto;
    z-index: 1100;
    line-height: 200px;
    text-align: center;
    background: #FFF;
    display:none;
    background-color: #eeeeee;
}
.bg_layer {
    position: absolute;
    top: 0px;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    display:none;
}